.create-container {
    background-color: #FBFBFC;
    background-repeat: no-repeat;
    min-height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    min-width: 100%;
  }

.form-container {
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 500px;
    padding: 30px;
    background:#FBFBFC;
}

.img-container {
    margin-bottom: 20px;
}

.img-container img {
    width: 120px;
    height: 120px;
    margin-left: 35px;
}

.input-container {
    display: flex;
    height: 40px;
    width: 70%;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 70px;
}

.input-container label {
    width: 40%;
    background-color:  #E8F3E2;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    color:  #CC0000;    
    font-size: 13px;
    padding-top: 10px;
}

.input-container input {
   width: 70%;
   background-color: #C4D6D9;
   border-radius: 10px;
   border: none;
   text-align: center;
   color: #3B4CCA;
   margin-left: -8px;
}


.input-imgContainer {
    display: flex;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 70px;
}

.input-imgContainer label {
    width: 70%;
    background-color:  #E8F3E2;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    color:  #CC0000;    
    font-size: 13px;
    padding-top: 10px;
}


.file__input {
    text-align: center;
    left: 0;
    opacity: 0;
    top: 0;
    bottom: 0;
  }

.select__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-left: 70px;
}

.select__container label{
    width: 40%;
    height: 40px;
    background-color:  #E8F3E2;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    color:  #CC0000;    
    font-size: 13px;
    padding-top: 10px;
}

.btn-container {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}



.btn-container button {
    padding: 8px 15px 8px 15px;
    margin: 5px;
    border: none;
    width: 40%;
    background-color:  #C4D6D9;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    color:  #CC0000;    
    font-size: 13px;
}

.btn-container button:hover {
    color: #3B4CCA;
    background: white;
}