.landing-container {
  background-image: url('../../assets/images/app_back.png');
  background-repeat: no-repeat;
  min-height: 100%;
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  min-width: 100%;
}

.text__container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 230px;
}

.text__container span {
  color: white;
  background-color: #3B4CCA;
  border-radius: 10%;
  font-size: 20px;
  padding: 15px;
}

.text__container span:hover {
  color: #3B4CCA;
  background-color: white;
  padding: 15px;
  border-radius: 10%;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.text__container span {
  animation: blinker 1s step-start infinite;
}