#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


.card-detailContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.bug-containerDetail {
    width: 40%;
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/bug.jpg');
}

.fire-containerDetail {
    width: 40%;
    opacity: 0.78;
    background-size: cover;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/fire.jpg');
}

.normal-containerDetail {
    width: 40%;
    opacity: 0.78;
    background-size: cover;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/normal.jpg');
}

.poison-containerDetail {
    width: 40%;
    opacity: 0.78;
    background-size: cover;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/poison.jpg');
}

.flying-containerDetail {
    width: 40%;
    opacity: 0.78;
    background-size: cover;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/flying.jpg');
}

.grass-containerDetail {
    width: 40%;
    opacity: 0.78;
    background-size: cover;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/bug.jpg');
}

.electric-containerDetail {
    width: 40%;
    opacity: 0.78;
    background-size: cover;
    margin: 10px;
    border: none;
    background-image: url('../../assets/images/backImages/electric.jpg');
}

.fairy-containerDetail {
    width: 40%;
    opacity: 0.78;
    background-size: cover;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/fairy.jpg');
}

.ground-containerDetail {
    width: 40%;
    opacity: 0.78;
    background-size: cover;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/ground.jpg');
}


.water-containerDetail {
    width: 40%;
    opacity: 0.78;
    background-size: cover;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/water.png');
}

.rock-containerDetail {
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/rock.jpg');
}

.fighting-containerDetail {
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/fighting.jpg');
}

.steel-containerDetail {
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/steel.png');
}

.dark-containerDetail {
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/dark.jpg');
}

.dragon-containerDetail {
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/shadow.jpg');
}

.shadow-containerDetail {
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/dragon.jpg');
}


.psychic-containerDetail {
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/psychic.jpg');
}


.ice-containerDetail {
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/water.png');
}


.ghost-containerDetail {
    background-size: cover;
    opacity: 0.78;
    margin: 10px;
    border: none;
    background-image: url( '../../assets/images/backImages/poison.jpg');
}

.Name__cardDetail {
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
}

.Name__cardDetail h2{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.Img__cardDetail {
    text-align: center;
}

.Img__cardDetail img {
    height: 150px;
    width: 190px;
    /*mantiene la calidad de la imagen*/
    -o-object-fit: cover;
       object-fit: cover;
}

.Types__cardDetail {
    display: inline-block;
}

.Stats-containerDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Stats-containerDetail .stat__title {
    width: 80px;
    margin-left: 10px;
    height: 25px;
    background-color:  #E8F3E2;
    padding-top: 3px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    color:  #CC0000;    
    font-size: 13px;
}


.Stats-containerDetail .stat {
    width: 50px;
    height: 25px;
    background-color: #C4D6D9;
    border-radius: 10px;
    padding-top: 3px;
    border: none;
    text-align: center;
    color: #3B4CCA;
    font-size: 12px;
    margin-left: 30px;
}

.btn-containerDetail {
    margin-bottom: 40px;
    margin-top: 50px;
}

.btn-containerDetail button{
    padding: 8px 15px 8px 15px;
    margin: 5px;
    border: none;
    width: 40%;
    background-color:  #C4D6D9;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    color:  #CC0000;    
    font-size: 13px;
}

.btn-containerDetail button:hover {
    color: #3B4CCA;
    background: white;
}