.search-container {  
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8F3E2;
}

.search__form-container {
    display: flex;
    margin-left: 69px;

}

.input__container input {
    text-align: center;
    width: 400px ;
    border: 1px solid gainsboro;
    height: 35px;
    color:#3B4CCA;
}

.input__container input::placeholder {
    color: grey;
    text-align: center;
} 


.btnSearch__container button {
    padding: 8px 15px 8px 15px;
    margin-top: 5px;
    height: 30px;
    width: 180px;
    margin-left: 30px;
    border: none;
    background-color:  #C4D6D9;
    text-align: center;
    text-transform: uppercase;
    color: #3B4CCA; 
    font-size: 10px;
}

.btnSearch__container button:hover {
    color: #CC0000; 
    background: white;
}
